/* Common styles */
@import url('./reset.css');

body {
  font-family: Montserrat, Arial, sans-serif;
  margin: 36px auto 0;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.search-section {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  width: 100%;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.search-button {
  background-color: #4E75FF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 8px;
}

.search-button:hover {
  background-color: #2563eb;
}

.loader {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin: 20px 0;
}

.hidden {
  display: none;
}


.gallery-section {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
}

.photo-card {
  width: calc(20% - 10px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.gallery-image {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
}

.sl-caption {
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.info {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.info p {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.info-item {
  flex: 1;
  text-align: center;
  padding: 0 5px;
}